pipeline/PL_SQL_ONPREM_BLOB_CSV.json
{
	"name": "PL_SQL_ONPREM_BLOB_CSV",
	"properties": {
		"activities": [
			{
				"name": "copy_data_sql_csv",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "loadid",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "loadid",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "tablename",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "tablename",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "loadstatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "loadstatus",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dataread",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "dataread",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Errorid",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "errorid",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "errormessage",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "errormessage",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_ONPREM",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BLOB_CSV",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_SQL_ONPREM",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_data_sql_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataread": {
							"value": "@activity('copy_data_sql_csv').output.rowsCopied",
							"type": "String"
						},
						"errorid": {
							"value": null,
							"type": "String"
						},
						"errormessage": {
							"value": null,
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "@activity('copy_data_sql_csv').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"tablename": {
							"value": {
								"value": "\naudit.copylog",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SP_SQL_ONPREM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_LOG_FAIL",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_data_sql_csv",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[loadstatus]",
					"storedProcedureParameters": {
						"dataRead": {
							"value": "1",
							"type": "String"
						},
						"errorId": {
							"value": {
								"value": "1234",
								"type": "Expression"
							},
							"type": "String"
						},
						"errormessage": {
							"value": {
								"value": "no error\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"loadstatus": {
							"value": {
								"value": "fail\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"tableName": {
							"value": {
								"value": "audit.copylog\n",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SP_SQL_ONPREM",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}