adfdevecommerce/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfdevecommerce"
		},
		"LS_ADLS_PARQ_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_PARQ'"
		},
		"LS_BLOB_CSV_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_BLOB_CSV'"
		},
		"LS_CPYLOG_ONPREM_SQL_SP_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_CPYLOG_ONPREM_SQL_SP'"
		},
		"LS_CSV_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_CSV_ADLS'"
		},
		"LS_CSV_PARQ_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_CSV_PARQ'"
		},
		"LS_MULT_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_MULT'"
		},
		"LS_MULTI_CSV_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_MULTI_CSV'"
		},
		"LS_MULT_CSV_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_MULT_CSV'"
		},
		"LS_MULT_CSV_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_MULT_CSV_ADLS'"
		},
		"LS_MULT_PARQ_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_MULT_PARQ_ADLS'"
		},
		"LS_SP_SQL_ONPREM_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SP_SQL_ONPREM'"
		},
		"LS_SQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL'"
		},
		"LS_SQL_CPY_DATA_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_CPY_DATA'"
		},
		"LS_SQL_ONPREM_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_ONPREM'"
		},
		"SqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer1'"
		},
		"LS_ADLS_PARQ_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devadlsecommerce.dfs.core.windows.net"
		},
		"LS_CPYLOG_ONPREM_SQL_SP_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-ML3E02N5"
		},
		"LS_CPYLOG_ONPREM_SQL_SP_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "master"
		},
		"LS_CPYLOG_ONPREM_SQL_SP_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "LAPTOP-ML3E02N5\\venkat"
		},
		"LS_CSV_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devadlsecommerce.dfs.core.windows.net"
		},
		"LS_CSV_PARQ_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devadlsecommerce.dfs.core.windows.net"
		},
		"LS_MULT_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devadlsecommerce.dfs.core.windows.net"
		},
		"LS_MULTI_CSV_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devadlsecommerce.dfs.core.windows.net"
		},
		"LS_MULT_CSV_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devadlsecommerce.dfs.core.windows.net"
		},
		"LS_MULT_CSV_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devadlsecommerce.dfs.core.windows.net"
		},
		"LS_MULT_PARQ_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devadlsecommerce.dfs.core.windows.net"
		},
		"LS_RESTAPI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://retoolapi.dev/5yDVOt/data"
		},
		"LS_SP_SQL_ONPREM_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-ML3E02N5"
		},
		"LS_SP_SQL_ONPREM_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "master"
		},
		"LS_SP_SQL_ONPREM_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "LAPTOP-ML3E02N5\\venkat"
		},
		"LS_SQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-ML3E02N5"
		},
		"LS_SQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "master"
		},
		"LS_SQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "LAPTOP-ML3E02N5\\venkat"
		},
		"LS_SQL_CPY_DATA_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-ML3E02N5"
		},
		"LS_SQL_CPY_DATA_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "master"
		},
		"LS_SQL_CPY_DATA_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "LAPTOP-ML3E02N5\\venkat"
		},
		"LS_SQL_ONPREM_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-ML3E02N5"
		},
		"LS_SQL_ONPREM_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "master"
		},
		"LS_SQL_ONPREM_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "LAPTOP-ML3E02N5\\venkat"
		},
		"SqlServer1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-ML3E02N5"
		},
		"SqlServer1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "master"
		},
		"SqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "LAPTOP-ML3E02N5\\venkat"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CPY_MULT_CSV_PARQUET_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_MULT_CSV_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_MULT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_MULT_CSV_ADLS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DLT_CSV_ONPREM",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CPY_MULT_CSV_ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_CSV_MULT",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "LS_MULT_CSV_ADLS",
									"type": "LinkedServiceReference"
								},
								"path": "inputmultiplecsv"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-05T13:23:53Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_CSV_MULT')]",
				"[concat(variables('factoryId'), '/datasets/DS_MULT_CSV_ADLS')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_MULT_CSV_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_RESTAPI_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_API_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id"
										}
									},
									{
										"source": {
											"path": "$['Sku']"
										},
										"sink": {
											"name": "Sku"
										}
									},
									{
										"source": {
											"path": "$['TP 1']"
										},
										"sink": {
											"name": "TP 1"
										}
									},
									{
										"source": {
											"path": "$['TP 2']"
										},
										"sink": {
											"name": "TP 2"
										}
									},
									{
										"source": {
											"path": "$['index']"
										},
										"sink": {
											"name": "index"
										}
									},
									{
										"source": {
											"path": "$['Weight']"
										},
										"sink": {
											"name": "Weight"
										}
									},
									{
										"source": {
											"path": "$['Catalog']"
										},
										"sink": {
											"name": "Catalog"
										}
									},
									{
										"source": {
											"path": "$['MRP Old']"
										},
										"sink": {
											"name": "MRP Old"
										}
									},
									{
										"source": {
											"path": "$['Ajio MRP']"
										},
										"sink": {
											"name": "Ajio MRP"
										}
									},
									{
										"source": {
											"path": "$['Category']"
										},
										"sink": {
											"name": "Category"
										}
									},
									{
										"source": {
											"path": "$['Style Id']"
										},
										"sink": {
											"name": "Style Id"
										}
									},
									{
										"source": {
											"path": "$['Paytm MRP']"
										},
										"sink": {
											"name": "Paytm MRP"
										}
									},
									{
										"source": {
											"path": "$['Amazon MRP']"
										},
										"sink": {
											"name": "Amazon MRP"
										}
									},
									{
										"source": {
											"path": "$['Myntra MRP']"
										},
										"sink": {
											"name": "Myntra MRP"
										}
									},
									{
										"source": {
											"path": "$['Flipkart MRP']"
										},
										"sink": {
											"name": "Flipkart MRP"
										}
									},
									{
										"source": {
											"path": "$['Limeroad MRP']"
										},
										"sink": {
											"name": "Limeroad MRP"
										}
									},
									{
										"source": {
											"path": "$['Snapdeal MRP']"
										},
										"sink": {
											"name": "Snapdeal MRP"
										}
									},
									{
										"source": {
											"path": "$['Final MRP Old']"
										},
										"sink": {
											"name": "Final MRP Old"
										}
									},
									{
										"source": {
											"path": "$['Amazon FBA MRP']"
										},
										"sink": {
											"name": "Amazon FBA MRP"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_RESTAPI",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSV_ADLS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_RESTAPI')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SP_UPD_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SP_INSERT_CUST_INFO",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertCustomer]",
							"storedProcedureParameters": {
								"CustomerID": {
									"value": "2346",
									"type": "Int32"
								},
								"FirstName": {
									"value": "Bindu",
									"type": "String"
								},
								"LastName": {
									"value": "N",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SQL_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_SQL_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_PARQ",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-08T16:33:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_PARQ')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SQL_ONPREM_BLOB_CSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_data_sql_csv",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "loadid",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "loadid",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tablename",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "tablename",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "loadstatus",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "loadstatus",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "dataread",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "dataread",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Errorid",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "errorid",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "errormessage",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "errormessage",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_ONPREM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_BLOB_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SP_SQL_ONPREM",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "copy_data_sql_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[audit].[loadstatus]",
							"storedProcedureParameters": {
								"dataread": {
									"value": {
										"value": "@activity('copy_data_sql_csv').output.rowsCopied",
										"type": "Expression"
									},
									"type": "String"
								},
								"errorid": {
									"value": null,
									"type": "String"
								},
								"errormessage": {
									"value": null,
									"type": "String"
								},
								"loadstatus": {
									"value": {
										"value": "@activity('copy_data_sql_csv').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								},
								"tablename": {
									"value": {
										"value": "@concat(pipeline().parameters.schemaname,'.',pipeline().parameters.tablename)",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SP_SQL_ONPREM",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_LOG_FAIL",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "copy_data_sql_csv",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[audit].[loadstatus]",
							"storedProcedureParameters": {
								"dataRead": {
									"value": {
										"value": "@activity('copy_data_sql_csv').output.rowsCopied",
										"type": "Expression"
									},
									"type": "String"
								},
								"errorId": {
									"value": {
										"value": "@activity('copy_data_sql_csv').output.errors[0].code",
										"type": "Expression"
									},
									"type": "String"
								},
								"errormessage": {
									"value": {
										"value": "@activity('copy_data_sql_csv').output.errors[0].message\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"loadstatus": {
									"value": {
										"value": "@activity('copy_data_sql_csv').output.executionDetails[0].status\n\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"tableName": {
									"value": {
										"value": "@concat(pipeline().parameters.schemaname,'.',pipeline().parameters.tablename)\n",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SP_SQL_ONPREM",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"schemaname": {
						"type": "string",
						"defaultValue": "audit"
					},
					"tablename": {
						"type": "string",
						"defaultValue": "copylog"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_ONPREM')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_CSV')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SP_SQL_ONPREM')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_PARQ')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_PARQ",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "outputsqlparquet"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_PARQ')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BLOB_CSV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "logdatatocsvfromsql"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BLOB_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CSV_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "csvoutput"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CSV_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_MULT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_MULT_CSV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "inputmultiplecsv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Item_Identifier",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MULT_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_MULT_CSV_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CSV_PARQ",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "outoutmultiplecsv"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CSV_PARQ')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RESTAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_RESTAPI",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_RESTAPI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "DatabaseLogID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PostTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DatabaseUser",
						"type": "nvarchar"
					},
					{
						"name": "Event",
						"type": "nvarchar"
					},
					{
						"name": "Schema",
						"type": "nvarchar"
					},
					{
						"name": "Object",
						"type": "nvarchar"
					},
					{
						"name": "TSQL",
						"type": "nvarchar"
					},
					{
						"name": "XmlEvent",
						"type": "xml"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DatabaseLog"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_ONPREM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "audit",
					"table": "copylog"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_PARQ')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_PARQ_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_PARQ_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BLOB_CSV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_BLOB_CSV_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CPYLOG_ONPREM_SQL_SP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_CPYLOG_ONPREM_SQL_SP_properties_typeProperties_server')]",
					"database": "[parameters('LS_CPYLOG_ONPREM_SQL_SP_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "Windows",
					"userName": "[parameters('LS_CPYLOG_ONPREM_SQL_SP_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_CPYLOG_ONPREM_SQL_SP_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostedintegrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostedintegrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CSV_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_CSV_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_CSV_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CSV_PARQ')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_CSV_PARQ_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_CSV_PARQ_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MULT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_MULT_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_MULT_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MULTI_CSV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_MULTI_CSV_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_MULTI_CSV_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MULT_CSV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_MULT_CSV_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_MULT_CSV_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MULT_CSV_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_MULT_CSV_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_MULT_CSV_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MULT_PARQ_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_MULT_PARQ_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_MULT_PARQ_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_RESTAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_RESTAPI_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SP_SQL_ONPREM')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SP_SQL_ONPREM_properties_typeProperties_server')]",
					"database": "[parameters('LS_SP_SQL_ONPREM_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "Windows",
					"userName": "[parameters('LS_SP_SQL_ONPREM_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SP_SQL_ONPREM_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostedintegrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostedintegrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQL_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "Windows",
					"userName": "[parameters('LS_SQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostedintegrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostedintegrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_CPY_DATA')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQL_CPY_DATA_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_CPY_DATA_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "Windows",
					"userName": "[parameters('LS_SQL_CPY_DATA_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_CPY_DATA_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostedintegrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostedintegrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_ONPREM')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQL_ONPREM_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_ONPREM_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "Windows",
					"userName": "[parameters('LS_SQL_ONPREM_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_ONPREM_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostedintegrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostedintegrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer1_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "Windows",
					"userName": "[parameters('SqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfhostedintegrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfhostedintegrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfhostedintegrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}